[Bb]in[Oo]bj_ReSharper.**.dotCover*.DotSettings*.user*.suo*_* 201*-**.vssscc*.testsettings*.sln.cache*.vspscc*.build.**.orig*~release/.sass-cache/.DS_Store.Trashes*.trxpublish/*.BACKUP.**.BASE.**.LOCAL.**.REMOTE.*